node_modules
**/node_modules
dist
**/dist
!packages/n8n-node/dist
.compiled
.git
.gitignore
*.md
!README.md
.env*
.docker
.eslintrc*
.prettier*
jest.config*
coverage
packages/playground
packages/cli
vitest.config*
