node_modules
**/node_modules
dist
**/dist
.compiled
.git
.gitignore
*.md
.env*
.docker
Dockerfile*
docker-compose*
.eslintrc*
.prettier*
jest.config*
tsconfig*.json
test
coverage
packages/playground
packages/cli
